[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "==1.9.62"
Flask = "==1.0.2"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.7"
© 2019 GitHub, Inc.